#landing {
    height: 100vh;
    background-image: url("images/landing.png");
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
}

#landing h1, #landing p, #landing button {
    background-color: #f1f1f1;
    width: max-content;
    display: block;
}

#landing h1 {
    margin-top: 3em;
    padding: .1em 1em;
}

#landing p {
    margin-top: 1.4em;
    padding: .8em 1em;
    width: 40rem;
    letter-spacing: -.5px;
}

#landing button {
    margin-top: 3em;
    padding: .6em 4em;
    text-transform: uppercase;
    background-color: #0000EE;
    color: #f1f1f1;
    border: .5px solid #f1f1f1;
}

#landing button:hover {
    opacity: .5;
}

#landing nav {
    background-color: white;
    font-size: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid;
}

#landing nav > div {
    padding: 12px 1.5rem;
    display: inline-block;
    width: 15%;
    box-sizing: border-box;
}

#landing nav > div:nth-child(2) {
    width: 66%;
}

#landing nav ul {
    width: max-content;
}

#landing nav ul li a {
    padding: 0 4.8rem;
}

#landing nav a:hover {
    opacity: .6;
}

#landing nav > div > div {
    width: max-content;
    margin-left: auto;
}

#landing nav form {
    display: inline-block;
}

#landing nav input {
    border-bottom: 1px solid;
    padding: 0 8px 2px;
}

#landing nav i {
    vertical-align: bottom;
    padding-bottom: 4px;
}

#landing nav i[class*="search"] {
    border-bottom: 1px solid;
    margin-right: 1rem;
}

#call-to-actions {
    width: max-content;
    margin: 8rem 0;
}

#call-to-actions .actionable {
    width: 16.6rem;
    height: 25rem;
    display: inline-block;
    margin: 0 .4rem;
    background-size: cover;
    background-position: center bottom;
    vertical-align: top;
}

#call-to-actions #deals {
    background-image: url("images/new_deals.jpg");
}

#call-to-actions #new-stuff {
    background-image: url("images/new_stuff.jpg");
}

#call-to-actions #popular {
    background-image: url("images/most_popular.jpg");
}

#call-to-actions #deals a {
    background-color: rgba(236, 7, 55, .7);
}

#call-to-actions #new-stuff a {
    background-color: rgba(28, 48, 214, .7);
}

#call-to-actions #popular a {
    background-color: rgba(13, 174, 71, .7);
}

#call-to-actions .actionable > a {
    vertical-align: top;
    opacity: 0;
    text-transform: uppercase;
    color: white;
}

#call-to-actions .actionable > a:hover {
    opacity: 1;
}

#call-to-actions .actionable a h4 {
    position: relative;
    top: 45%;
}

#call-to-actions .actionable a h3 {
    position: relative;
    top: 35%;
}

#call-to-actions #group {
    width: 25rem;
    position: relative;
}

#call-to-actions #group > div {
    position: absolute;
    width: 100%;
    height: 48%;
}

#call-to-actions #group div:nth-child(1) {
    top: 0;
}

#call-to-actions #group div:nth-child(2) {
    bottom: 0;
}

#call-to-actions #group div:first-child {
    background-image: url("images/shop-now.jpg");
    background-size: cover;
}

#call-to-actions #group div:last-child {
    background-image: url("images/create-an-account.jpg");
    background-size: cover;
}

#call-to-actions #group div:first-child a {
    background-color: rgba(255, 44, 121, .9);
}

#call-to-actions #group div:first-child a:hover {
    background-color: rgba(247, 11, 108, .9);
}

#call-to-actions #group div:last-child a {
    background-color: rgba(101, 37, 169, .9);
}

#call-to-actions #group div:last-child a:hover {
    background-color: rgba(72, 22, 99, .96);
}

#info {
    background-color: #f1f1f1;
}

#info > div {
    padding: 2.6rem 0;
    width: max-content;
}

#info > div > div {
    display: inline-block;
    width: 21vw;
    padding-left: 1rem;
    border-left: 1px solid;
}

#info > div > div:nth-child(2) {
    margin: 0 2rem;
}

#info > div > div h4 {
    position: relative;
    bottom: 6px;
}

#info > div > div p {
    width: 84%;
    line-height: 110%;
    letter-spacing: -1px;
    overflow: visible;
}

#featured {
    margin: 6rem;
}

#featured h3 {
    text-transform: uppercase;
}

#featured p {
    width: 60%;
}

#featured #items {
    width: max-content;
    text-align: left;
    margin-top: 2.8rem;
}

#featured #items .item {
    display: inline-block;
    margin: 0 1rem;

}

#featured #items .item a {
    height: 18rem;
    width: 14rem;
    background-color: red;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    border-bottom: 3px solid;
}

#featured #items .item a .price {
    background-color: #262626;
    position: absolute;
    bottom: 0;
    padding: .6em 1.8em;
}

#featured #items .item a:hover > span:not(:hover) {
    display: none;
}

#featured #items .item:nth-child(1) a {
    background-image: url("images/featured_1.jpg");
}

#featured #items .item:nth-child(2) a {
    background-image: url("images/featured_2.jpg");
}

#featured #items .item:nth-child(3) a {
    background-image: url("images/featured_3.jpg");
}

#featured #items .item:nth-child(4) a {
    background-image: url("images/featured_4.jpg");
}

#featured #items .item small {
    display: block;
}

#featured #items .item h6 {
    text-transform: uppercase;
}

#register {
    background-color: #fbfbfb;
    padding: 5rem 0;
}

#register h6 {
    text-transform: uppercase;
}

#register h6 span, #register h6 span a {
    font-size: inherit;
}

#register a:hover {
    opacity: .8;
}

#register h3 {
    letter-spacing: -2px;
}

#register form {
    width: max-content;
}

#register form .input-block {
    font-weight: inherit;
    color: inherit;
}

#register form .input-block input {
    font-weight: inherit;
    color: inherit;
    padding: .2em .6em;
    margin: 1.2rem 1rem;
    width: 16vw;
    background-color: Transparent;
    border-bottom: 1px solid;
}

#register form .input-block .email-input {
    display: block;
    margin: 1rem auto;
}

#register form .input-block input::placeholder {
    opacity: .86;
    font-weight: 200;
}

#register form #terms {
    letter-spacing: -1px;
    width: max-content;
    margin: 2rem 0 1.6rem;
}

#register form input[type="submit"] {
    background-color: #202020;
    display: block;
    width: max-content;
    color: white;
    padding: .34em 4.8em;
}

#register form input[type="submit"]:hover {
    opacity: .7;
}

#newsletter {
    background-image: url("images/newsletter.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#newsletter div {
    background-color: rgba(18, 172, 170, .9);
    padding: 10rem 0;
}

#newsletter p {
    width: 40%;
}

#newsletter form {
    width: max-content;
    margin-top: 2rem;
}

#newsletter form input {
    padding: .6em 1em;
    width: 18em;
}

#newsletter form input[type="submit"] {
    width: initial;
    padding-right: 4em;
    background-color: #1e807d;
    float: right;
}

#newsletter form input[type="submit"]:hover {
    background-color: #129C9B;
}

#footer {
    padding: 3rem 0;
    background-color: #323232;
}

#footer #social-media {
    width: max-content;
    margin-bottom: 1rem;
}

#footer #social-media img {
    width: 2.2vw;
}

#footer #social-media img:hover {
    opacity: .4;
}

#footer #links {
    width: 36%;
    margin-bottom: 2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    text-align: center;
}

#footer #links ul {
    display: inline-table;

}

#footer #links ul li {
    display: inline;
    width: 33%;
    float: left;
}

#footer #links a {
    padding: 0 1.2em;
    letter-spacing: -1px;
}

#footer #links a:hover {
    opacity: .4;
}
