#top ul {
    display: flex;
    justify-content: space-around;
}

#top ul li:nth-child(3) {
    margin-left: auto;
}

#top ul li:nth-child(1) {
    margin-right: auto;
}

#top ul li {
    display: inline-block;
}

#top a {
    margin: 0 1em;
    padding-right: 2em;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

#top li:first-of-type a {
    margin-right: 0;
}

#top li:last-of-type a {
    margin-left: 0;
}

#top a:hover {
    opacity: .4;
}

#top li:nth-child(1) a {
    background-image: url("images/folder.png");
}

#top li:nth-child(2) a {
    background-image: url("images/tag.png");
}

#top li:nth-child(3) a {
    background-image: url("images/avatar.png");
}

#top h1 {
    width: max-content;
    margin: .64em auto 1.2em;
    padding: 0 .8em .1em;
    background-image: url("images/hrs/header.png");
}

#articles-pagination {
    float: left;
    width: 62%;
    margin-bottom: 3em;
}

#articles-pagination article:not(:last-of-type) {
    margin-bottom: 5em;
}

#articles-pagination article:last-of-type {
    margin-bottom: 6em;
}

#articles-pagination article button:hover {
    background-image: url("images/hrs/read-full-bottom.png");
    cursor: pointer;
}

#articles-pagination li {
    display: inline-block;
}

#articles-pagination a,
#articles-pagination span {
    padding-right: .2em;
}

#articles-pagination a:hover {
    position: relative;
    top: 4px;
}

#sidebar {
    float: right;
    width: 30%;
    font-size: 0;
}

#sidebar #profile-picture {
    width: 100%;
}

#sidebar h4 {
    display: none;
}

#sidebar p {
    text-align: center;
    width: 90%;
    margin: 1em auto 2em;
}

#sidebar #social-icons {
    width: max-content;
    margin: 0 auto 2rem;
}

#sidebar #social-icons img {
    width: 2.4rem;
    padding: 0 .2rem;
}

#sidebar #social-icons img:hover {
    cursor: pointer;
    opacity: .7;
}

#sidebar #search {
    margin: 3.2rem 0;
    font-size: 0;
}

#sidebar #search form {
    width: 92%;
    display: inline-block;
}

#sidebar #search input {
    width: 100%;
    text-align: right;
    letter-spacing: 0.5px;
    padding-bottom: .4em;
    margin-bottom: .4em;
    background-image: url("images/hrs/search.png");
}

#sidebar #search input::placeholder {
    color: black;
}

#sidebar #search label {
    display: block;
    text-align: center;
    color: #767676;
    visibility: hidden;
}

#sidebar #search input:focus + label {
    visibility: visible;
}

#sidebar #search img {
    width: 8%;
    padding-top: .4rem;
    vertical-align: top;
    cursor: pointer;
}

#sidebar h3 {
    text-align: center;
}

#sidebar a:hover {
    opacity: .7;
}

#sidebar #categories {
    margin-bottom: 2rem;
}

#sidebar #categories nav {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#sidebar #categories li {
    text-align: center;
    padding: .1em .4em;
}

#sidebar #archive {
    margin-top: 3rem;
}

#sidebar #archive li {
    text-align: center;
}

#pagination {
    text-align: right;
}

#footer {
    background-image: url("images/hrs/read-full-bottom.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 4rem;
    clear: both;
}

#footer h4, #footer h5 {
    text-align: center;
}

#footer a {
    background-image: url("images/swirly-arrow.png");
    background-size: 28%;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 1.2em 4em;
    padding-left: 0;
    display: block;
    width: max-content;
    margin: 1.8em auto 0;
}

#footer a:hover {
    opacity: .6;
}

/* Responsive Design */
/* Screen Sizes: Breakdown */

/* Desktop: Greater than 1024px */
/* Tablet: Greater than 660px and Less than 1024px */
/* Phone: Less than 660px */
/* Apply these styles when the screen is in Tablet and Phone configuration. */
@media (max-width: 1024px) {
    #articles-pagination, #sidebar {
        float: none;
        width: 100%;
    }

    #sidebar hr {
        display: none;
    }

    #sidebar #profile-picture {
        width: 40%;
    }

    #sidebar #paragraph-social {
        display: inline-block;
        width: 56%;
        vertical-align: top;
    }

    #sidebar p {
        text-align: left;
        margin: 1.2rem;
    }

    #sidebar #social-icons {
        width: max-content;
        margin-left: 1.2rem;
    }

    #sidebar #social-icons img {
        width: 2.8rem;
        padding: 0;
        margin-right: .4rem;
    }

    #sidebar #search {
        width: 62%;
        margin: 4.2rem auto;
    }

    #sidebar li {
        display: inline-block;
        padding: .2em .8em;
    }

    #sidebar #categories, #sidebar #archive {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }

    #sidebar #categories nav, #sidebar #archive nav {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    #pagination {
        text-align: center;
    }

    #footer {
        margin-top: 3.4rem;
    }
}

/* Apply these styles when the screen is in Phone configuration. */
@media (max-width: 660px) {
    #top nav {
        padding: 1em 3em;
    }

    #top ul li {
        display: block;
        text-align: right;
        padding: .2em 0;
    }

    #top ul li a {
        margin: 0;
    }

    #top h1 {
        padding: 0 .5em .1em;
    }

    #articles-pagination article:last-of-type {
        margin-bottom: 2.5em;
    }

    #articles-pagination #pagination ul {
        width: max-content;
        margin: 0 auto;
    }

    #sidebar {
        margin-bottom: 2.5em;
    }

    #sidebar #profile-picture {
        display: none;
    }

    #sidebar #paragraph-social {
        width: 100%;
    }

    #sidebar #paragraph-social #social-icons {
        margin: 0 auto;
    }

    #sidebar #paragraph-social #social-icons img {
        width: 2rem;
    }

    #sidebar h4 {
        display: block;
        text-align: center;
    }

    #sidebar #paragraph-social p {
        text-align: center;
        margin: .6em auto 2em;
        width: 80%;
    }

    #sidebar #search {
        width: 82%;
        margin: 4rem auto;
    }

    #sidebar li {
        padding: .2em .8em;
    }

    #sidebar #categories, #sidebar #archive {
        width: 80%;
        display: block;
        margin: 4rem auto;
    }

    #sidebar #categories nav, #sidebar #archive nav {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}
