html, body, h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    font-weight: normal;
    cursor: default;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    list-style: none;
}

li, a {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
}
