body, button, input {
    font-family: 'Cormorant', serif;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.92rem;
}

h5, body, p, input, a {
    font-size: 1.5rem;
}

h6, button, nav a, .small {
    font-size: 1rem;
}

@media (max-width: 1680px) {
    html {
        font-size: 94%;
    }
}

@media (max-width: 1444px) {
    html {
        font-size: 88%;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 82%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 76%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 414px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1024px) {
    button {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.8rem;
    }

    h6, #navbar nav a {
        font-size: 1.9rem;
    }

    input {
        font-size: 1.2rem;
    }
}
